html
    head
        title= appTitle
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    #wrapper
        .container
            h1.page-title= appTitle
            hr
            block content